<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Enviar Imagens</title>
</head>
<body>
    <h1>Envie suas imagens</h1>
    <form id="uploadForm" enctype="multipart/form-data" method="post" action="/upload/">
        <input type="file" name="arquivo" multiple required />
        <button type="submit">Enviar</button>
    </form>
     <pre id="response"></pre>

    <script>
    const form = document.getElementById('uploadForm');
    const responseBox = document.getElementById('response');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);

        const res = await fetch('/upload/', {
            method: 'POST',
            body: formData
        });

        if (res.ok) {
            // Upload ok, redireciona para a página de cadastro
            window.location.href = '/cadastro/';
        } else {
            // Se der erro, mostra no pre
            const json = await res.json();
            responseBox.textContent = JSON.stringify(json, null, 2);
        }
    });
    </script>

</body>
</html>
